#contenedorlogin{
     margin: 0 auto;
    padding: 0 auto;
    width: 1366px;
    height: 900px;       
}

#logoimg{
    width: 150px;
    height: auto;
}

#bocina{
      width: 50px;
      height: auto;
}
.user{
    color: #226FDB;
    font-family: "Miso Light";
    font-weight: 900;
    text-align: left;
    position: relative;
    left: 400px;
}
#fondo{
    background: #FFF;
}

#encabezado{
    background: #242426;    
    width: auto;
    height: 100px;     
    text-align: left;
}
#Contenedor{
    margin: 0 auto;
    padding: 0 auto;
    width: 1366px;
    height: 900px;       
   background-image:url("../IconosMusic/fondo6.jpeg");    
   color: #FFF; 
   background-repeat: no-repeat;       
}

header p{
    text-align: center;    
    color:#FFF;   
    font-family: "Miso Light";
    font-size: 130px;
    font-weight: bolder;    
    width: 800px;
    height: 130px;
    margin: 0 auto;
     border-bottom-color: #FFF; 
    border-top-color: #FFF;
    border-bottom-style: solid;
    border-top-style: solid;    
}

#logito{
    text-align: center;    
    color:#000;   
    font-family: "Miso Light";
    font-size: 80px;
    font-weight: bolder;    
    width: 600px;
    height: 90px;
    margin: 0 auto;
    border-bottom-color: #000; 
    border-top-color: #000;
    border-bottom-style: solid;
    border-top-style: solid;       
}

#usuario,#pass{    
    background: #E8DCE8;        
    width: 300px;
    height: 100px;        
    border-style: none;
    border-radius: 15px;
    
}

footer{
    background: #242426;
    width: auto;
    height: 100px;
    text-align: center;
}

footer img{
     width: 50px;
     height: 50px;
}
.red{
     width: 40px;
     height: 40px;
}
footer p{
    font-family: "Arial";
    font-weight: bolder;
}

section{
    font-family: "Arial";
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

#acepta{
    width: 270px;
    height: 70px;
    text-align: center;
    color: #000;
    font-family: "Arial";
    font-size: xx-large;
    font-weight: bolder;
    border: none;
    border-radius: 15px;
    background: #FEA813;
}

/*Fuente Miso Light*/
@font-face {
    font-family:"Miso Light";
    src:url("miso-light.eot?") 
   format("eot"),url("miso-light.woff") 
   format("woff"),url("miso-light.ttf") 
   format("truetype"),url("miso-light.svg#Miso-Light") 
   format("svg");
    font-weight:normal;
    font-style:normal;
}
/*Arial Rounded*/
@font-face {
font-family: 'Arial Rounded MT Bold';
font-style: normal;
font-weight: normal;
src: local('Arial Rounded MT Bold'), url('ARLRDBD_0.woff') format('woff');
}
